<div class="social_links">
  <ul class="social-icons">
    
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.body.links %}
      {% for link in site.body.links %}
        {% if link.label and link.url %}
          <ul><h2><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></h2></ul>
          <br>
        {% endif %}
      {% endfor %}
    {% endif %}

  </ul>
</div>
